manage.py
venv/
.idea/
db.sqlite3
__pycache__/

task_for_uptrader/__init__.py
task_for_uptrader/wsgi.py
task_for_uptrader/asgi.py
task_for_uptrader/__pycache__/

menuapp/__init__.py
menuapp/migrations
menuapp/__pycache__/


