<div class="menu">
    {% if main_menu %}
        <div class="menu-item">
            <a href="{{ main_menu.url }}">{{ main_menu.title }}</a>
            {% if main_menu.children.exists %}
                <div class="submenu">
                    {% for child in menu_items %}
                        <div class="submenu-item">
                            <a class="{% if child.url in request.path %} active {% endif %}" href="{{ child.url }}">
                                {{ child.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>